# Laravel & Composer
/vendor
/node_modules
/storage/*.key
/storage/*.log
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/app/public
/storage/app/uploads
/storage/app/images/uploads

# Environment files
.env
.env.local
.env.production
.env.backup

# Laravel specific
/public/hot
/public/storage
/public/uploads
/public/images/uploads
# /public/build
# /public/build-*
/public/images/.DS_Store
public/.DS_Store

# Logs & cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# OS generated
.DS_Store

# Homestead / Vagrant
Homestead.json
Homestead.yaml

# IDE & Editor configs
/.idea
/.vscode
/.husky
/.junie

# Custom: modules folder
/modules/*
!/modules/.gitkeep

# Custom: release builds
/releases
